@model Milestone1App.Models.Cell

<td id="cell-@Model.Row-@Model.Col"
    class="@(Model.IsRevealed
                ? (Model.IsMine ? "mine" : "revealed")
                : (Model.IsFlagged ? "flagged" : "hidden"))"
    onclick="clickCell(@Model.Row, @Model.Col)"
    oncontextmenu="event.preventDefault(); rightClickCell(@Model.Row, @Model.Col)">

    @if (Model.IsRevealed)
    {
        if (Model.IsMine)
        {
            @:💣
        }
        else if (Model.AdjacentMines > 0)
        {
            @Model.AdjacentMines
        }
        else
        {
            @:&nbsp;   <!-- Empty revealed cell -->
        }
    }
    else if (Model.IsFlagged)
    {
        @:🚩
    }
    else
    {
        @:&nbsp;   <!-- Hidden cell so it doesn’t disappear -->
    }
</td>
